// ----- Layout is containers and ways of joining modules together
// ------------------------------------------------------------------------------------------------------


// Containers
// ------------------------------------------------------------------------------------------------------

/* Limit width of content areas */
.container {
	width: 96%;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: 0 2%;
}


/* Hoe page well containers */
body.home .well {
    padding: 0.25em 1em;
}
body.home .well h2 {
    font-size: 120%;
}
body.home .well p {
    font-size: $smaller;
}
body.home .well h2 a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
body.home .feature {
  background: $bg-well-feature url(../images/bg-gears.png) no-repeat 0 100% !important;
  background-size: contain !important;
}
body.home .glyphicon {
    top: 3px;
    margin-right: 0.2em;
}


// Logos
// ------------------------------------------------------------------------------------------------------

.logo {
    margin: 0.6em 0.5em 0 0;
    width: 100%;
    max-width: 252px;
    float: left;
}


// Navigation
// ------------------------------------------------------------------------------------------------------

/* Top bar behind nav toggle */
.container-header-background {
    background-color: $nav-bg;
    margin: 0;
    padding: 0;
    min-height: 3em;
    border-bottom: 5px solid $nav-bg;
}
.header-australia .logo {
    max-width: 292px;
}

.header-business {
    border-bottom: 5px solid $bg-business;
}
.header-business .logo {
    max-width: 290px;
}

.header-human-services .logo {
    max-width: 386px;
}
.header-human-services {
    border-bottom: 5px solid $bg-human-services;
}


// Page navigation
// ------------------------------------------------------------------------------------------------------

.page-nav ul {
    margin: 0 0 0 0.5em;
    padding: 0;    
}
.page-nav li {
    background: transparent url(../images/ico-down.png) 0 50% no-repeat;
    padding: 0.3em 0 0.3em 37px;
    list-style-type: none;
}


// Pageslide plugin
// ------------------------------------------------------------------------------------------------------

ul.persistent-controls {
    background-color: $nav-bg;
    margin: 0;
    padding: 0.6em 0 0.5em 0;
    display: inline-block;
}
ul.persistent-controls li {
    float: left;
    margin: 0.25em 1em 0 0;
    padding: 0;
    line-height: 1;   
    list-style-type: none; 
}
@media only screen and (min-width: $break-large) {
    ul.persistent-controls {
        float: right;
    }
}

ul.persistent-controls li a,
ul.persistent-controls li a:link,
ul.persistent-controls li a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 21px;
    padding-left: 25px;
}
ul.persistent-controls li.toggle-search a,
ul.persistent-controls li.toggle-search a:link,
ul.persistent-controls li.toggle-search a:visited {
    background: transparent url(../images/sprite-persistent-controls.png) 0 -379px no-repeat;
    padding-left: 28px;
}
ul.persistent-controls li.toggle-search a:hover,
ul.persistent-controls li.toggle-search a:focus,
ul.persistent-controls li.toggle-search a:active {
    background: transparent url(../images/sprite-persistent-controls.png) -477px -379px no-repeat;
    color: $link-feature-colour;
}
ul.persistent-controls li.toggle-account a,
ul.persistent-controls li.toggle-account a:link,
ul.persistent-controls li.toggle-account a:visited {
    background: transparent url(../images/sprite-persistent-controls.png) 0 1px no-repeat;
}
ul.persistent-controls li.toggle-account a:hover,
ul.persistent-controls li.toggle-account a:focus,
ul.persistent-controls li.toggle-account a:active {
    background: transparent url(../images/sprite-persistent-controls.png) -481px 1px no-repeat;
    color: $link-feature-colour;
}
ul.persistent-controls li.toggle-nav a,
ul.persistent-controls li.toggle-nav a:link,
ul.persistent-controls li.toggle-nav a:visited {
    background: transparent url(../images/sprite-persistent-controls.png) 0 -183px no-repeat;
}
ul.persistent-controls li.toggle-nav a:hover,
ul.persistent-controls li.toggle-nav a:focus,
ul.persistent-controls li.toggle-nav a:active {
    background: transparent url(../images/sprite-persistent-controls.png) -481px -183px no-repeat;
    color: $link-feature-colour;
}
ul.persistent-controls li.toggle-authenticated a,
ul.persistent-controls li.toggle-authenticated a:link,
ul.persistent-controls li.toggle-authenticated a:visited {
    background: transparent url(../images/sprite-persistent-controls.png) 0 -516px no-repeat;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 99999;

    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;

    /* These styles describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
#menu-nav, #menu-account { 
    display: none;
}    	    
.toggle-nav, .toggle-account { 
    display: block; 
}
#pageslide { 
    width: 250px; 
}
#pageslide ul {
    border-top: 1px solid #666; 
    margin: 0;
    padding: 0;
}
#pageslide li { 
    margin: 0;
    padding: 0.25em 0; 
    border-bottom: 1px solid #666; 
    list-style-type: none;
}
#pageslide li a,
#pageslide li a:link,
#pageslide li a:visited { 
    color: white; 
    border: none; 
    text-decoration: none; 
}
#pageslide li a:hover,
#pageslide li a:active,
#pageslide li a:focus { 
    text-decoration: underline; 
}
#pageslide p a,
#pageslide p a:link,
#pageslide p a:visited { 
    color: $bg-medium-gray; 
    border: none; 
    text-decoration: underline; 
}
#pageslide p a:hover,
#pageslide p a:active,
#pageslide p a:focus { 
    color: $fg-white;
    text-decoration: underline; 
}
#pageslide {
      input, select, textarea {
      border: 1px solid #BBBBBB !important;
      color: $font-color;
      line-height: 1;
      padding: 0.25em 0.3em;
    }
}


// Header
// ------------------------------------------------------------------------------------------------------

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}


// Footer
// ------------------------------------------------------------------------------------------------------

footer {
	background-color: $bg-footer;
	clear: both;
	padding: 1em;
}
footer h2 {
	font-size: 120%;
}
footer h3 {
	color: #333;
	font-size: 100%;
}
footer li {
	margin: 0.4em 0;
	font-size: 90%;
    padding: 0.1em 0;
}
footer a,
footer a:link,
footer a:visited {
  background-color: transparent;
  color: #666;
  text-decoration: underline;
}
footer a:hover,
footer a:focus,
footer a:active {
  background-color: transparent;
  color: black;
  text-decoration: underline;
}


// Aside
// ------------------------------------------------------------------------------------------------------

aside {
	margin: 0 0 2em 0;
}
aside h2:first-child {
    margin-top: 0;
}
@media only screen and (min-width: $break-wide) {
    aside {
        margin: 0 0 2em 2em;
    }
}
aside ul {
	margin: 0 0 2em 0.5em;
}